body {
    background-color: rgb(4, 99, 214)
}

form {
    /* colocar a tela no meio */
    margin:  0px auto;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px 10px;
    padding: 50px;
    background-color: rgb(136, 141, 156);
    margin-top: 200px;
}

form div+div {
    margin-top: 15px;
}

label {
    text-align: right;
    display: inline-block;
    width: 80px;
}

#nome_Aluno {
    width: 300px;
}
#senha_Aluno {
    width: 300px;
}

#lembrarId{
    width: 250px;
}
#lembrar{
    width: 400px;
} 
textarea {
    font: 12px sans-serif;
    width: 300px;
    border: 1px solid teal;
    box-sizing: border-box;
    border-radius: 3px;
    vertical-align: top;
    height: 100px;

}

input {}

h3 {
    text-align: center;

}

button {
    margin-left: 335px;
    border: 0px;    
}
